{% extends 'base.html' %}
{% block Body %}
    <div class="text-center" style="margin: 25vh auto">
        <form action="/login" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-1" placeholder="Password" required
                   name="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}